/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/* Main Brand Quotes */

.site-content {
	@include desktop {
		margin: ($base__space-unit * 3) 15rem $base__space-unit;
		position: relative;
		font-family: 'Exo';

		.entry-content {

			&:before,
			&:after {
				color: $color__main-brand;
				font-family: 'FontAwesome';
				font-size: 8rem;
				line-height: 1rem;
				position: absolute;
				top: 0;
			}

			&:before {
				content: '\f10d';
				left: -9rem;
				top: 6.5rem;
			}

			&:after {
				content: '\f10e';
				right: -9rem;
				top: 6.5rem;
			}
		}
	}
}

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.blog {
	.entry-content {
		margin-top: $base__space-unit * 2;
	}
}

.page {
	.entry-title {
		margin-top: $base__space-unit * 2;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.blog,
.single,
.archive {
	.entry-content {
		p {
			font-size: 1.25rem;
			font-family: 'Exo';

			@include tablet {
				font-size: 1.75rem;
			}

			@include desktop {
				font-size: 2.5rem;
			}
		}
	}

	.entry-meta {
		margin-bottom: ($base__space-unit * 2);
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
	}

	.entry-title {
		display: inline;
		font-size: 1.25rem;
		font-weight: normal;
		margin-bottom: 0;
	}

	.source {
		font-size: 1.25rem;
		font-style: italic;
	}
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}