/* Site Footer Design */

// Main Navigation Block

footer {
    .site-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: ($base__space-unit * 3) 0 ($base__space-unit * 2);

        //  Mobile
        .main-navigation {

            ul {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin: 1rem 0 0.5rem;

                li:last-child {
                    border: 0;
                }

                li {
                    margin-right: $base__space-unit - 0.5;
                    border-right: 1px solid #fff;
                    padding-right: $base__space-unit - 0.5;
                }

            }
        }

        .copyright-container {
            width: 100%;
            margin: 0.5rem 0 0rem;

            .copyright {
                width: 100%;
                display: flex;
                flex: row wrap;
                justify-content: flex-start;
                align-items: center;
                margin: auto 0;

                a {
                    margin-left: 0.5rem;

                }
            }

        }

        // Footer Tablet
        @include tablet {
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;


            .main-navigation {
                // flex: 50%;
                max-width: 40%;
                display: flex;
                justify-content: flex-start;



                ul {
                    &:last-child {
                        border-right: 1px solid #fff;
                    }

                    li:last-child {
                        margin-right: 0;
                    }
                }
            }

            .copyright-container {
                flex: 2 0 50%;
                width: 50%;


                .copyright {
                    width: 100%;

                }
            }
        }

    }
}