.main-svg {

    background: red;
    fill: antiquewhite;


    .path-group-svg {
        path {
            background: rgb(216, 22, 22) !important;
        }

        .o-svg {
            fill: #00CC00 !important;

        }
    }

}